#offsite-content-frame-iframe {
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

#offsite-content-frame-page .content {
  margin-top: 0px;
}

#offsite-content-header-wrapper {
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 4em;
  background-color: #4c4c4c;
  overflow: hidden;
}

#offsite-content-header {
  width: 960px;
  margin: 0px;
  height: 4em;
  margin-left: auto;
  margin-right: auto;
}

#offsite-content-header h1#page-title {
  line-height: 2em;
  margin: 0px;
  padding: 0px;
}

#offsite-content-header h1 a {
  color: white;
}

#offsite-content-return-link {
  float: right;
  line-height: 4em;
}